doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible',content='IE-edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    meta(name='keywords',content='')
    meta(name='description',content='')
    meta(name='author',content='')
    title Squealing Broccoli
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
    script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')
    
  body

    block nav 
      
    block main
    
    block scripts
    
  footer
  
    block footer
